html,
button,
input,
select,
textarea {
  color: #263238;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: inherit;
}

img {
  vertical-align: middle;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  box-sizing: border-box;
  min-height: 100%;
}

.primary {
  position: absolute;
  top: 0;
  left: 0;
  right: 40%;
  bottom: 0;
}

.secondary {
  position: fixed;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  overflow: auto;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.36);
  z-index: 16;
  background-color: #fff;
}

.app-bar {
  display: block;
  width: 60%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow: hidden;
  z-index: 1;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #cfd8dc;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.36);
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar.open ~ main {
  box-shadow: inset 10px 0 8px -10px rgba(0, 0, 0, 0.36);
}

.app-bar-actions {
  margin-left: auto;
  z-index: 2;
}

.app-bar input {
  height: 59px;
  line-height: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.app-bar input:-webkit-autofill {
  background-color: transparent;
}

.app-bar button {
  width: 60px;
  height: 59px;
  line-height: 60px;
  background-image: none;
  background-color: transparent;
  color: #455a64;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button i {
  vertical-align: middle;
}

.app-bar button:hover {
  background-color: #eceff1;
}

.app-bar button:focus {
  background-color: #cfd8dc;
  outline: 0;
}

.app-bar button:active {
  background-color: #b0bec5;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.
  Replace with will-change when available
  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 16px;
}

.navdrawer-container {
  z-index: 16;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #eceff1;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.2s ease-out;
          transition: transform 0.2s ease-out;
}

.navdrawer-container h2,
.navdrawer-container ul li a {
  height: 48px;
  padding: 0 16px;
  line-height: 48px;
}

.navdrawer-container h2 {
  height: 60px;
  line-height: 60px;
  background-color: #fafafa;
  border-bottom: 1px solid #cfd8dc;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 8px;
}

.navdrawer-container h2 a {
  color: #546e7a;
  text-decoration: none;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: #455a64;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: #cfd8dc;
}

.navdrawer-container ul li a:focus {
  background-color: #b0bec5;
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: #90a4ae;
}

.navdrawer-container ul li a i {
  vertical-align: top;
  line-height: 48px;
  position: absolute;
}

.navdrawer-container ul li a span {
  margin-left: 56px;
  font-weight: 700;
}

main {
  /* Height of the header */
  padding: 60px 4px 4px 4px;
  min-height: 100%;
}

.grid-list {
  padding-top: 12px;
  padding-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-list .grid-item {
  flex-basis: 100%;
  margin: 4px;
  height: 283px;
  background-size: cover;
  background-color: #cfd8dc;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.36);
  border-radius: 1px;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.grid-list .grid-item:hover {
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.46);
}

.grid-list .grid-item .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 68px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  color: #263238;;
  box-shadow: 0 -1px 4px -2px rgba(0, 0, 0, 0.36);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.grid-list .grid-item .content h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.grid-list .grid-item .content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.book-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-detail .image {
  height: 450px;
  background-size: cover;
}

.book-detail .header {
  background: #eceff1;
  color: #455a64;
  padding: 10px 24px;
  height: 55px;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 8px;
  position: relative;
}

.book-detail .header h2 {
  margin: 0;
  font-size: 24px;
  padding-right: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}

.book-detail .header p {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}

.book-detail .header .read {
  background-color: transparent;
  background-image: none;
  border: none;
  position: absolute;
  top: 0;
  right: 24px;
  height: 48px;
  width: 48px;
  top: -24px;
  background-color: #fafafa;
  color: #455a64;
  border-radius: 32px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.36);
  display: block;
  text-align: center;
}

.book-detail .header .read:hover {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.36);
  color: #546e7a;
}

.book-detail .header .read:focus {
  outline: 0;
  color: #607d8b;
}

.book-detail .header .read:active {
  color: #78909c;
}

.book-detail .header .read i {
  line-height: 48px;
}

.book-detail .content {
  padding: 0 24px;
}

.book-detail .content .download i {
  position: absolute;
  height: 64px;
  line-height: 64px;
}

.book-detail .content .download ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 56px;
}

.book-detail .content .download ul li {
  height: 64px;
  padding-top: 14px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.book-detail .content .download ul li a {
  text-decoration: none;
  display: block;
}

.book-detail .content .download ul li a:hover * {
  font-weight: 700;
}

.book-detail .content .download ul li h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.book-detail .content .download ul li span {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #546e7a;
}

.book-detail .content hr {
  border: none;
  margin: 8px 0;
  border-bottom: 1px solid #eceff1;
}

.book-detail .content .summary {
  margin: 24px 0;
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 600px) {
  .grid-list .grid-item {
    flex-basis: 47%;
  }
}

@media all and (min-width: 840px) {
}

@media all and (min-width: 960px) {
  .grid-list .grid-item {
    flex-basis: 31.5%;
  }
}

@media all and (min-width: 1280px) {
  .grid-list .grid-item {
    flex-basis: 23.5%;
  }
}


@media all and (min-width: 1600px) {
  .grid-list .grid-item {
    flex-basis: 19%;
  }
}
